#header {
	text-align: center;
}

#toolbar {
	width: 500px;
	margin: auto;
	text-align: center;
}

#disconnect {
	display: none;
}

#game {
	width: 500px;
	height: 500px;
	margin: 20px auto 0 auto;
	border: 1px solid #000;
	padding: 2px;
}

#canvas {
	width: 100%;
	height: 100%;
}

#keys {
	width: 225px;
	margin: 20px auto 0 auto;
}

.key {
	width: 70px;
	height: 45px;
	text-align: center;
	padding-top: 25px;
	border: 1px solid #000;
	margin: 5px auto 0 auto;
}

#key-left, #key-down, #key-right {
	display: inline-block;
}